<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h3>Registration Form</h3>
      <form>
        <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="usr" name="fname" [(ngModel)]="data.fname">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="psd" [(ngModel)]="data.psd">
        </div>
        <button type="button" class="btn btn-primary" (click)="onSave()">Submit</button>
      </form>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Firstname</th>
          <th>password</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.fname}}</td>
          <td>{{item.psd}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
